#sidebar_region.region.grid_3
  #sidebar_top_area.area.grid_3.alpha.omega
  #sidebar_main_area.area.grid_3.alpha.omega
    = #component menu_component('Menu Group Title'), 'Menu Group Title'
  #sidebar_bottom_area.area.grid_3.alpha.omega
